<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SGMLogisticsServicePlatform.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>43D181D64BC72D697C66659F73CBBCF98CBDAEB2</string>
				<key>dateExpires</key>
				<string>2021/4/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QJZ9656Y6G.com.sgm.b2s.mfg.lsp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QJZ9656Y6G</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SGMLogisticsServicePlatform.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>08468709-2408-4b10-af35-f665e6beb886</string>
				<key>name</key>
				<string>lsppro</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QJZ9656Y6G</string>
				<key>name</key>
				<string>Saic General Motors co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
